body{
    background-color: rgb(237, 217, 252);

font-size: 30px;
text-align: justify;
color:rgb(15, 1, 1);
}
h1 { 
    color:rgb(125, 86, 214);
    font-size: 50px;
    text-align: center;
}